* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(211, 211, 211, 0.3);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

/* HEADER */

header {
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

header a {
    text-decoration: none;
}

header .main-logo {
    height: 5rem;
}

header .main-logo-title {
    color: whitesmoke;
    font-size: 1.3rem;
}

/* MAIN */

hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: grey;
    margin: 10px 0 10px;
    
}

.reset-password-wrapper, 
.new-password-wrapper {
    margin: 50px auto;
    background: whitesmoke;
    width: 400px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reset-password-wrapper {
    display: block;
}

.new-password-wrapper {
    display: none;
}

.reset-password-wrapper--header h1, 
.new-password-wrapper--header h1 {
    font-size: 1.3rem;
    margin: 0;
}

.reset-password-wrapper--body input,
.new-password-wrapper--body input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px 10px 10px;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: transparent;
    margin: 10px 0;
}

.reset-password-wrapper--body input:focus,
.new-password-wrapper--body input:focus {
    outline: none;
    border: 2px solid rgba(59, 119, 215, 0.5);
    box-shadow: rgba(59, 119, 215, .4) 0px 0px 0px 3px;
}

.reset-password-wrapper--footer,
.new-password-wrapper--footer {
    text-align: end;
}

.reset-password-wrapper--footer .cancel-link,
.new-password-wrapper--footer .not-you-link {
    background: rgba(128, 128, 128, 0.5);
    padding: 5px 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
    transition: opacity 200ms ease-in;
}

.reset-password-wrapper--footer .reset-btn,
.new-password-wrapper--footer .change-btn {
    border: none;
    background: rgb(59, 119, 215);
    padding: 5px 15px;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 200ms ease-in;
}

.reset-password-wrapper--footer .cancel-link:hover,
.reset-password-wrapper--footer .reset-btn:hover,
.new-password-wrapper--footer .not-you-link:hover,
.new-password-wrapper--footer .change-btn:hover {
    opacity: 0.8;
}

.reset-password-wrapper--footer .cancel-link:active,
.reset-password-wrapper--footer .reset-btn:active,
.new-password-wrapper--footer .not-you-link:active,
.new-password-wrapper--footer .change-btn:active {
    opacity: 0.6;
}


/* RESET PASSWORD BODY INDIVIDUAL STYLES */
.reset-password-wrapper--body .validation {
    display: none;
    border: 1px solid red;
    padding: 12px;
    margin: 15px 0 7px;
    background: #dc354530;
}

.reset-password-wrapper--body .validation h3 {
    font-size: 15px;
    margin: 0;
}

.reset-password-wrapper--body .validation small {
    display: inline-block;
    line-height: 1.2rem;
}

.reset-password-wrapper--body .validation.show {
    display: block;
}


.reset-password-wrapper--body p {
    font-size: 15px;
    margin: 0;
}   

/* NEW PASSWORD BODY INDIVIDUAL STYLES */
.new-password-wrapper--body p {
    margin: 0;
    font-size: 15px;
}

.new-password-wrapper--body small {
    color: rgb(59, 119, 215);
    font-weight: bold;
}

.new-password-wrapper--body .password-validation {
    display: none;
    border: 1px solid red;
    padding: 12px;
    margin: 7px 0 15px;
    background: #dc354530;
    font-size: 13px;
}

.new-password-wrapper--body .password-validation.show {
    display: block;
}

.password-validation span {
    font-weight: bold;
    color: #dc3545;
}

.new-password-wrapper--body .password-validation.show {
    display: block;
}

/* SWEET ALERT CUSTOM STYLES */
.button {
    font-weight: bold !important;
    color: whitesmoke !important;
}













