/* ALL GLOBAL STYLINGS */

/* MODAL CLOSE BUTTON */
.modal-close-btn-wrapper {
    text-align: end;
}

.close-btn {
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 200ms ease-in-out;
    margin: 15px 15px 0 0;
}

.close-btn:hover {
    color: rgba(59,119,215, 1.0);
}

.close-btn:active {
    color: rgba(59,119,215, 0.5);
}


/* MODAL FORM */
.form-btn {
    cursor: pointer;
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bolder;
    color: whitesmoke;
    border: none;
    border-radius: 3px;
    background: rgb(59, 119, 215);
    transition: opacity 200ms ease-in-out;
}

.form-link {
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(59, 119, 215);
    cursor: pointer;
}

.form-btn:hover, .form-link:hover {
    opacity: 0.9;
}

.form-btn:active, .form-link:active {
    opacity: 0.7;
}


