/* LAYOUTS */

.hero {
    width: 100%;
    height: 85vh;
    background-image: url("../img/home/main-bg-library.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    /* border: 1px solid red; */
}

/* TYPOGRAPHY */
.hero--title, .hero--subtitle {
    color: whitesmoke;
    text-shadow: 0 0 1px whitesmoke;
}

.hero--title {
    font-size: 3.3rem;
    font-weight: bolder;
    margin-bottom: -20px;

}

.hero--subtitle {
    font-weight: 400;
    margin-bottom: 5rem;
    color: whitesmoke;
}

