/* LOGIN MODAL LAYOUT */
.login-modal {
    display: none; /* displays block using js */
    height: 460px;
    width: 500px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}

/* LOGIN FORM LAYOUT */
.login-form-wrapper {
    height: 300px;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.login-form-title {
    font-size: 1.7rem;
    margin: 20px 0 20px;
}

/* LOGIN FORM INPUT */
.login-form-input-wrapper {
    position: relative;
    margin: 1rem 0 .3rem;
}

.login-form-input-wrapper > label > i {
    position: absolute;
    left: 1rem;
    top: 13px;
}

.login-form-input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px 10px 40px;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: transparent;
}

.login-form-input::-webkit-input-placeholder {
    color: rgb(56, 51, 51);
    font-weight: bold;
}

.login-form-input:focus {
    outline: none;
    border: 2px solid rgba(59, 119, 215, 0.5);
    box-shadow: rgba(59, 119, 215, .4) 0px 0px 0px 3px;
}

/* LOGIN MODAL FOOTER */
.login-modal-footer {
    text-align: center;
    margin-top: 50px;
}

.login-modal-footer > p {
    font-size: 0.9rem;
    margin-top: 25px;
}

/* LOGIN FORM VALIDATION */
.error-input {
    border-color: #dc3545;
    box-shadow: rgba(220, 53, 69, .4) 0px 0px 0px 3px;
}

.error-input:focus {
    border-color: #dc3545;
    box-shadow: rgba(220, 53, 69, .4) 0px 0px 0px 3px;
}

.form-input-validation {
    display: none; /* displays block using js */
    text-align: start;
    font-size: 13px;
    color: #dc3545;
    margin: 5px 0 0 5px;
}

.form-input-validation > i {
    margin-right: 7px;
}

#form-login-validation {
    display: none; /* displays block using js */
    background: rgba(220, 53, 69, .4);
    padding: 15px 13px;
    border-radius: 5px;
    font-size: 13px;
    text-align: start;
    margin-top: 5px;
}

#form-submit-validation > i {
    margin-right: 5px;
    color: #dc3545;
}

/* LOGIN MODAL POPUP CHANGES */
.open {
    display: block;
    animation: fade-in 500ms forwards;
}

.closing {
    display: block;
    animation: fade-out 300ms forwards;
}

#login-modal-overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#login-modal-overlay.active {
    pointer-events: all;
    animation: fade-in 500ms forwards;
}

#login-modal-overlay.closing {
    animation: fade-out 300ms forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}