/* MODAL LAYOUT */
.sign-up-modal {
    display: none; /* displays block using js */
    height: 550px;
    width: 500px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 15;
}

/* SIGN UP FORM LAYOUT */
.sign-up-form-wrapper {
    height: 430px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.sign-up-form-title {
    font-size: 1.7rem;
    margin: 0;
}

/* SIGN UP FORM INPUT */
.sign-up-form-input-wrapper:nth-of-type(1),
.sign-up-form-input-wrapper:nth-of-type(3) {
    display: flex;
    gap: 10px;
}

.sign-up-form-input-wrapper {
    position: relative;
}

.sign-up-form-input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 13px;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: transparent;
}

.sign-up-form-input:focus {
    outline: none;
    border: 2px solid rgba(59, 119, 215, 0.5);
    box-shadow: rgba(59, 119, 215, .4) 0px 0px 0px 3px;
}

.sign-up-form-input::-webkit-input-placeholder {
    color: transparent;
    user-select: none;
}

.sign-up-form-label,
.sign-up-form-label2,
.sign-up-form-label3 {
    color: black;
    position: absolute;
    transition: .2s ease-in-out;
    font-weight: bold;
    font-size: 15px;
}

.sign-up-form-label {
    left: 15px;
    bottom: 10px;
}

.sign-up-form-label2 {
    right: 69px;
    bottom: 10px;
}

.sign-up-form-label3 {
    right: 84px;
    bottom: 10px;
}

.sign-up-form-input:focus + .sign-up-form-label, 
.sign-up-form-input:focus + .sign-up-form-label2,
.sign-up-form-input:focus + .sign-up-form-label3,
.sign-up-form-input:not(:placeholder-shown) + .sign-up-form-label,
.sign-up-form-input:not(:placeholder-shown) + .sign-up-form-label2,
.sign-up-form-input:not(:placeholder-shown) + .sign-up-form-label3 {
    bottom: 33px;
    font-size: 13px;
    background-color: whitesmoke;
    padding: 0 5px;
}

.sign-up-form-input:focus + .sign-up-form-label, 
.sign-up-form-input:not(:placeholder-shown) + .sign-up-form-label {
    left: 9px;
}

.sign-up-form-input:focus + .sign-up-form-label2,
.sign-up-form-input:not(:placeholder-shown) + .sign-up-form-label2 {
    right: 75px;
}

.sign-up-form-input:focus + .sign-up-form-label3,
.sign-up-form-input:not(:placeholder-shown) + .sign-up-form-label3 {
    right: 89px;
}

.input-guide {
    position: absolute;
    font-size: 11px;
    top: 46px;
    left: 1px;
    opacity: 0.7;
    text-align: start;
}


/* SIGN UP MODAL FOOTER */
.sign-up-modal-footer {
    text-align: center;
    margin-bottom: 10px;
}

.sign-up-modal-footer > p {
    font-size: 0.9rem;
    margin-top: 25px;
}

/* LOGIN FORM VALIDATION */

.sign-up-input-validation-msg {
    display: none;
    white-space: nowrap;
    vertical-align:middle;
    position: absolute;
    font-size: 11px;
    top: 35px;
    left: 1px;
    text-align: start;
    color:#dc3545;
}

.sign-up-input-validation-msg i {
    display: inline-block;
    margin-right: 5px;
}

.sign-up-form-input-wrapper.error .sign-up-form-input {
    border-color: #dc3545 !important;
}

.sign-up-form-input-wrapper.error .sign-up-form-input:focus {
    box-shadow: rgba(220, 53, 69, .4) 0px 0px 0px 3px;  
}

.sign-up-form-input-wrapper.error > .sign-up-input-validation-msg{
    display: inline-block;
}

.sign-up-form-input-wrapper.error .input-guide {
    visibility: hidden;
}

/* SIGN UP MODAL POPUP CHANGES */ 
.open-sign-up-modal {
    display: block;
    animation: maximize .3s forwards;
}

.close-sign-up-modal {
    display: block;
    animation: minimize .3s forwards;
}

@keyframes maximize {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes minimize {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}


