* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: whitesmoke;
}

/* NAVBAR SECTION */
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    margin-bottom: 20px;
}

.nav--logo-title {
    display: flex;
    gap: 10px;
}

#nav--lis-logo {
    align-self: center;
    width: 50px;
}

#nav--lis-title {
    font-size: 1rem;
}

#nav--lis-close-btn {
    font-size: 2rem;
}


/* FORMS SECTION */
.form-wrapper {
    margin: auto;
    height: 70vh;
    width: 60%;
    padding: 20px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.lis-image > img{
    width: 350px;
}

#lis-forms {
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-title {
    margin: 0;
    padding: 5px;
}

.form--fname-lname {
    display: flex;
    gap: 10px;
}

input {
    padding: 10px 30px;
    border-radius: 3px;
    border: 1px solid gray;
}

#form--submit-btn {
    margin-top: 1rem;
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: #0077b6;
    color: whitesmoke;
    cursor: pointer;
}

